* {
    margin: 0;
    padding: 0;

}




.con {
    display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
    margin-top: 20px;


}
#addaddress{
    margin-top: 30px;
    padding: 10px;
}
h1{
    margin: 0px;
}
.form {
    margin-top: 0;
    height:440px;
    width: 80%;
    padding:10px;
    
    margin-left: 200px;
       
    
    overflow:hidden;
    display:none;
 }

label {
    position: relative;
	display: block;
    width:220px;
    height:10px;
    float:left;
    font-weight:bold;
	
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	border:1px solid;
    width:50%;
    padding:10px;
    font-weight:bold;
    border-radius:5px;
    
}
textarea{
    border:1px solid;
    width:50%;
    padding:10px;
    font-weight:bold;
    border-radius:5px;

}
.txt{
    margin-top:20px;
}



#adding{
    padding:10px;
    margin:20px;
    position:relative;
    left: 330px; 
    border:1px solid;
    border-radius:5px;
    font-weight:bold;
}
#cancel{
    padding:10px;
    margin:20px;
    position:relative;
    left: 300px; 
    border:1px solid;
    border-radius:5px;
    font-weight:bold;
}

